name: Publish
on:
  push:
    tags:
      - "v0.*"
jobs:
  publish:
    environment:
      name: gradle-plugin-portal
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
    steps:
    - uses: actions/checkout@v2
    - name: Set up OpenJDK 8
      uses: actions/setup-java@v2
      with:
        java-version: 8
        distribution: "temurin"
    - name: Publish
      run: ./gradlew --stacktrace publishPlugins
      env:
        GRADLE_PUBLISH_KEY: ${{ secrets.GRADLE_PUBLISH_KEY }}
        GRADLE_PUBLISH_SECRET: ${{ secrets.GRADLE_PUBLISH_SECRET }}
        # "ORG_GRADLE_PROJECT_" environment variables with dots do not work indeed.
        # https://github.com/gradle/gradle/issues/1295
        ORG_GRADLE_PROJECT_gradle.publish.key: ${{ secrets.GRADLE_PUBLISH_KEY }}
        ORG_GRADLE_PROJECT_gradle.publish.secret: ${{ secrets.GRADLE_PUBLISH_SECRET }}
